/* Roboto condensed font link */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Utilities styles start */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1140px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.gray {
    color: #848E9F;
}

.sky {
    color: #13C5DD;
}

.flex {
    display: flex;
}
/* Utilities styles end */

/* =================================== */

/* Header section start */

/* Social section start */
.socials {
    justify-content: space-between;
    padding: 10px 0;
    color: #848E9F;
}
.social-left {
    gap: 20px;
}
.social-right a{
    margin-left: 14px;
    color: #848E9F;
}
/* Social section end */

/* NavBar section start */
nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-left {
    font-size: 20px;
}

.nav-right {
    font-size: 18px;
    font-weight: 600;
}

.menu {
    gap: 20px;
    list-style: none;
}

.menu .menu-item a {
    color: black;
    text-decoration: none;
}
/* NavBar section end */


/* Banner section start */
/* Banner section end */

/* Header section end */

/* ================================== */

/* Main section start */
/* Main section end */

/* =================================== */

/* Footer section start */
/* Footer section end */
