/* Roboto condensed font link */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* Utilities styles start */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1140px;
  /* border: 2px solid red; */
  margin: 0 auto;
}

.gray {
    color: #848E9F;
}

.sky {
    color: #13C5DD;
}

.flex {
    display: flex;
}
/* Utilities styles end */

/* =================================== */

/* Header section start */

/* Social section start */
.socials {
    justify-content: space-between;
    padding: 10px 0;
    color: #848E9F;
}
.social-left {
    gap: 20px;
}
.social-right a{
    margin-left: 14px;
    color: #848E9F;
}
/* Social section end */

/* NavBar section start */
nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-left {
    font-size: 20px;
}

.nav-right {
    font-size: 18px;
    font-weight: 600;
}

.menu {
    gap: 20px;
    list-style: none;
}

.menu .menu-item a {
    color: black;
    text-decoration: none;
}
/* NavBar section end */


/* Banner section start */
.hero-container {
    background-image: url("../assets/images/hero.jpg");
    height: 511px;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.greetings {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 5px solid #848E9F;
    margin-bottom: 10px;
}

.hero-container h1 {
    color: white;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 32px;
}

.banner-btn {
    font-weight: 700;
    padding: 16px 48px;
    color: black;
    background: white;
    border-radius: 30px;
    margin-right: 20px;
}

.banner-btn {
    text-decoration: none;
}

.btn-2 {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.btn-2 {
    text-decoration: none
}
/* Banner section end */

/* Header section end */

/* ================================== */

/* Main section start */
/* Main section end */

/* =================================== */

/* Footer section start */
/* Footer section end */
